@import 'common/styles/mixins';
@import 'common/styles/variables';

.RestorePassword {

  &_Arrow {
    margin-top: 50px;
    margin-left: 55px;
    cursor: pointer;
    @include hover(.1s, .7);
  }

  &_Form {
    @include flex(column, start, center);
    min-height: 100%;

    &_Title {
      @include text(29px, 24px, 600);
      color: $textColor-l4;
      margin-top: 60px;
      margin-bottom: 0;
    }

    &_Description {
      @include text(19px, 16px, 400);
      color: $textColor-l4;
      margin-top: 5px;
      margin-bottom: 36px;
      width: 490px;
      text-align: center;
    }

    &_Input {
      width: 500px;
    }

    &_Submit {
      margin-top: 49px;
    }
  }
}