$textColor-l1: #173148;
$textColor-l2: #274D6F;
$textColor-l3: #141C35;
$textColor-l4: #173148;
$textColor-l5: #213159;
$textColor-l6: #4F72EE;

$backgroundColor-l1: #F5F5F5;
$backgroundColor-l2: #F9FBFC;
$backgroundColor-l3: #FFFFFF;
$backgroundColor-l4: #F9F9FC;
$backgroundColor-l5: #F2F3F9;
$backgroundColor-l6 : #D14E3D;
$backgroundColor-l7 : #465F76;

$lineColor-l1: #D9D9D9;
$lineColor-l2: #CECECE;
$mainColor: #7EB3BD;
$iconColor: #979AA8;
$hoverColor: #EDFCFF;
$errorColor: #EB5757;
$linkColor: #4F72EE;
