@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.NewPassword {

  &_Form {
    @include flex(column, start, center);
    min-height: 100%;
    margin-left: 10px;

    &_Title {
      @include text(29px, 24px, 600);
      color: $textColor-l4;
      margin-top: 88px;
      margin-bottom: 0;
    }

    &_Description {
      @include text(19px, 16px, 400);
      color: $textColor-l4;
      margin-top: 6px;
      margin-bottom: 30px;
      width: 85%;
      text-align: center;
    }

    &_Input {
      width: 500px;
      margin-top: 6px;
    }

    &_Submit {
      margin: 7px 15px 0 0;
    }
  }
}